
@{
    ViewBag.Title = "Search";
}


<section id="section-search">
    <div class="card bg-outline-primary">
        <div class="card-header">
            <h2>Information search</h2>

        </div>
        <div class="card-body text-left">


            <div class="row">
                <div class="form-group col-md-6">
                    <label>Flight code <span class="text-danger">(*)</span></label>
                    <input type="text" id="txtFlight" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                    <label>Bag tag<span class="text-danger">(*)</span></label>
                    <input type="text" id="txtBag" class="form-control" />
                </div>





            </div>
            <button type="button" class="btn btn-primary" id="btn-search">
                Search
            </button>


        </div>
        </div>
</section>
<div id="data-grid">
    <partial name="_SearchGrid" />
</div>

<environment include="Development">
    <script src="~/scripts/searchbagtag/index.js" type="text/javascript"></script>
</environment>
<environment exclude="Production">
    <script src="~/scripts/searchbagtag/index.js" type="text/javascript"></script>
</environment>
