@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.TblAdiType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Sita.Default.TblAdiTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>