@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Office.TblContractType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ECNET.Office.TblContractTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>