@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.TblBagsHistory.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SIta.Default.TblBagsHistoryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>