@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.TblFlight.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Sita.Default.TblFlightGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>