@model ECNET.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Yêu cầu đặt lại mật khẩu trên hệ thống ECNET</title>
</head>
<body>
    <p>Xin chào @Model.DisplayName,</p>

    <p>Chúng tôi nhận được một yêu cầu đặt lại mật khẩu của bạn trên hệ thống ECNET.</p>

    <p>Vui lòng nhấn vào link bên dưới để đặt lại mật khẩu:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>Nếu bạn không muốn đặt lại mật khẩu có thể bỏ qua email này.</p>

    <p>Thanks,</p>
    <p>Phòng quản lý ECNET.</p>
</body>
</html>